<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>MelodyDemo</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="script/chat.css" />
</head>
<body>
<div th:fragment="screen_content">
<h3>页面目录结构介绍：</h3>
<p>静态资源文件，如js、图片、css文件，放置于classpath:static/中;</p>
<p>页面文件放置于classpath:templates/中，该文件夹下有layout和screen两个文件夹：</p>
<ul>
    <li>layout文件夹：用于放置模板文件</li>
    <li>screen文件夹：用于放置页面内容文件</li>
</ul>
<h3>注意事项:</h3>
<p>模板文件可以为多个页面提供公用的模板内容，并将页面文件嵌套其中，关于模板文件的使用有以下几点需要注意：</p>
<ul>
    <li>layout文件夹下的文件和文件夹与screen中的文件及文件夹有对应关系的，如layout/login/中的模板文件不会对screen/login/之外的页面文件生效。</li>
    <li>模板文件的查找规则遵循<strong><i>相同路径相同名称 > 相同路径default.htm > 上级default.htm > ... > /layout/default.htm</i></strong></li>
    <li>需要至少在layout/下放置default.htm以保障页面正常显示。</li>
</ul>
</div>
</body>
</html>