<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" es:layout >
<head>
	<meta content="text/html" charset="UTF-8">
	<title>测试</title>
	<link rel="stylesheet" type="text/css" media="all"
		  href="script/chat.css" />
	<style type="text/css">
		#testCss {
			width: 100%;
		}
	</style>

    <script type="text/javascript"  th:src="${#url.get('appServer','/script/contain/testJS.min.js')}" ></script>
    <script type="text/javascript">
        function testJSFun(){
            alert("TestJsFun");
        }
    </script>
</head>
<body id="dd">
<div name="index" th:fragment="screen_content">
	<div class="melody-wrap">
		<ul class="melody-list melody-li1 clearfix">
			<li><a th:href="${#url.get('appServer','introduce/springboot/main.htm')}" href="introduce/springboot/main.htm"><i class="melody-ico ico-m1"></i><span>springboot</span></a></li>
			<li><a  th:href="${#url.get('appServer','introduce/thymeleaf/main.htm')}" href="introduce/thymeleaf/main.htm"><i class="melody-ico ico-m2"></i><span>thymeleaf</span></a></li>
			<li><a  th:href="${#url.get('appServer','introduce/contain/main.htm')}" href="introduce/contain/main.htm"><i class="melody-ico ico-m3"></i><span>contain</span></a></li>
			<li><a  th:href="${#url.get('appServer','introduce/nosession/main.htm')}" href="introduce/nosession/main.htm"><i class="melody-ico ico-m4"></i><span>nosession</span></a></li>
			<li><a  th:href="${#url.get('appServer','introduce/i18n/main.htm')}" href="introduce/i18n/main.htm"><i class="melody-ico ico-m4"></i><span>国际化</span></a></li>
			<li><a  th:href="${#url.get('appServer','introduce/monitor/main.htm')}" href="introduce/monitor/main.htm"><i class="melody-ico ico-m4"></i><span>性能监控</span></a></li>
		</ul>
		<ul class="melody-list melody-li2 clearfix">
			<li><a  th:href="${#url.get('appServer','example/thymeleaf/main.htm')}" href="example/thymeleaf/main.htm"><i class="melody-ico ico-m5"></i><span>Thymeleaf示例</span></a></li>
			<li><a  th:href="${#url.get('appServer','example/contain/main.htm')}" href="example/contain/main.htm"><i class="melody-ico ico-m5"></i><span>contain示例</span></a></li>
			<li><a  th:href="${#url.get('appServer','example/reload/main.htm')}" href="example/reload/main.htm"><i class="melody-ico ico-m5"></i><span>reload示例</span></a></li>
			<li><a  th:href="${#url.get('appServer','example/lazyload/main.htm')}" href="example/lazyload/main.htm"><i class="melody-ico ico-m5"></i><span>lazyLoad示例</span></a></li>
			<li><a  th:href="${#url.get('appServer','example/interceptor/main.htm')}" href="example/interceptor/main.htm"><i class="melody-ico ico-m5"></i><span>拦截器示例</span></a></li>
			<li><a  th:href="${#url.get('appServer','example/i18n/main.htm')}" href="example/i18n/main.htm"><i class="melody-ico ico-m5"></i><span>国际化示例</span></a></li>
			<li><a  th:href="${#url.get('appServer','example/nosession/main.htm')}" href="example/nosession/main.htm"><i class="melody-ico ico-m5"></i><span>登录和session示例</span></a></li>
		</ul>
		<ul class="melody-list melody-li2 clearfix">
			<li><a  th:href="${#url.get('appServer','utils/main.htm')}" href="new_features/main.htm"><i class="melody-ico ico-m5"></i><span>工具类</span></a></li>
			<li><a  th:href="${#url.get('appServer','utils/main.htm')}" href="new_features/main.htm"><i class="melody-ico ico-m5"></i><span>配置文件说明</span></a></li>
		</ul>
	</div>
	<script th:inline="javascript">
        $(function(){
            $(window).resize(function(){
                var h = window.innerHeight||document.body.clientHeight||document.documentElement.clientHeight;
                $(".s-mod").css("height", h);
            });
            $(window).resize();
        });
	</script>
</div>
</body>
</html>