<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:es="http://www.w3.org/1999/xhtml"
      xml:lang="en">
    <div es:contain="/common_pages/contain/htmlhead.htm(title=${title})"></div>
    <body>
        <div class="s-mod melody">
            <div es:contain="/common_pages/contain/header.htm">
                <div class="melody-detail-wrap">
                    <div class="container" es:contain="screen_content"></div>
                </div>
                <div es:contain="/common_pages/contain/footer_index.htm"></div>
            </div>
        </div>
    </body>
</html>