<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div name="content" th:fragment="screen_content">
  		<pre>
		appServer (UrlBroker):
			<span th:text="${#url.get('appServer','/test.htm').put('aaa','bbb')}"/>
		imageServer (UrlBroker) :
			<span th:text="${#url.get('imageServer','/test.htm').put('aaa','bbb')}" />
		uploadServer(RestUrlBroker):
			<span th:text="${#url.get('uploadServer','/test.htm').put('aaa','bbb')}" />
		staticServer(MutiHostBroker):
			<span th:text="${#url.get('staticServer','/test.htm').put('aaa','bbb')} " />
			<span es:contain="${#url.get('appServer','broker/broker.htm').put('name','张三')} " />
			<span es:contain="${#url.get('appServer','broker/broker.htm').put('name','李四')} " />
			<span es:contain="${#url.get('appServer','broker/broker.htm').put('name','王五')} " />
		</pre>
</div>
</div>
</body>
</html>