<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" es:layout>
<head>
    <title>左侧边栏</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="script/chat.css" />
</head>
<body>

<div class="melody-d-side" th:fragment="screen_content">
    <ul class="melody-d-menu" th:with="notSelected='md-menu-item',isSelected='md-menu-item cur'">

        <span th:text="${selected}">no data</span>
        <li th:class="${selected eq 'new_feature'}?${isSelected}:${notSelected}">
            <a class="menu-item-a" th:href="${#url.get('appServer','new_features/introduce.htm')}">FaMelody性<i class="icon-light"></i></a>
        </li>
        <li th:class="${selected eq 'config'}?${isSelected}:${notSelected}">
        <a class="menu-item-a" th:href="${#url.get('appServer','config/introduce.htm')}">配置文件说明和示例<i class="icon-light"></i></a>
        </li>
        <li th:class="${selected eq 'dir_url'}?${isSelected}:${notSelected}">
        <a class="menu-item-a" th:href="${#url.get('appServer','dir_url/introduce.htm')}">目录结构说明和示例<i class="icon-light"></i></a>
        </li>
        <li th:class="${selected eq 'webpages'}?${isSelected}:${notSelected}">
        <a class="menu-item-a" th:href="${#url.get('appServer','webpages/introduce.htm')}">页面制作说明和示例<i class="icon-light"></i></a>
        </li>
        <li th:class="${selected eq 'nosession'}?${isSelected}:${notSelected}">
        <a class="menu-item-a" th:href="${#url.get('appServer','nosession/introduce.htm')}">nosession技术<i class="icon-light"></i></a>
        </li>
        <li th:class="${selected eq 'utils'}?${isSelected}:${notSelected}">
        <a class="menu-item-a" th:href="${#url.get('appServer','utils/introduce.htm')}">工具类<i class="icon-light"></i></a>
        </li>
        <li th:class="${selected eq 'interceptor'}?${isSelected}:${notSelected}">
        <a class="menu-item-a" th:href="${#url.get('appServer','interceptor/introduce.htm')}">拦截器<i class="icon-light"></i></a>
        </li>
        <li th:class="${selected eq 'others'}?${isSelected}:${notSelected}">
        <a class="menu-item-a" th:href="${#url.get('appServer','others/introduce.htm')}">其他功能说明和示例<i class="icon-light"></i></a>
        </li>
        <li th:class="${selected eq 'spring'}?${isSelected}:${notSelected}">
        <a class="menu-item-a" th:href="${#url.get('appServer','spring/introduce.htm')}">spring现有功能说明<i class="icon-light"></i></a>
        </li>
    </ul>
</div>
</body></html>