<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" es:layout>
<head>
    <title>测试</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="script/chat.css"/>
    <style type="text/css">
        label.error {
            color: red;
            padding: 3px 10px;
        }

        span.required {
            color: red;
        }
    </style>
</head>
<body id="dd">
<div name="index" th:fragment="screen_content">
    <br/>
    <h2>登录演示页面</h2><br/>
    <form id="loginForm" th:action="${#url.get('appServer','/login/login.htm')}" method="post">
        <input type="hidden" name="c_time" value="1428300280355"/>

        <table>
            <tr>
                <th><span class="required">*</span>姓名：</th>
                <td>
                    <input type="text" id="username" name="username"/>
                </td>
            </tr>
            <tr>
                <th><span class="required">*</span>口令：</th>
                <td>
                    <input type="password" id="password" name="password" value=""/>
                </td>
            </tr>
            <tr>
                <th>
                    <input type="submit" value="登录"/>
                </th>
            </tr>
        </table>

        <p>* 登录需要用到redis，具体配置请参照<a class="m-detail-link1" th:href="${#url.get('appServer','/nosession/redis_config.htm')}">此页面</a> </p>

    </form>
</div>
</body>
</html>