<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<th:block es:contain = " ${#url.get('appServer','/contain/htmlhead.htm').put('title',$title)}" ></th:block>
<body>
<div class="melody-detail">
    <th:block es:contain="${#url.get('appServer','/contain/header.htm')}" ></th:block>
    <div class="melody-detail-wrap">
        <th:block es:contain="${#url.get('appServer','/contain/left.htm').put('selected',$selected)}" ></th:block>
        <div class="melody-d-con">
            <p>本页面使用的Layout是同级目录下的缺省Layout</p>
            <th:block es:contain="screen_content"></th:block>
        </div>
    </div>
    <th:block es:contain="${#url.get('appServer','/contain/footer.htm')}" ></th:block>
</div>
</body>
</html>