<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" es:layout>
<head>
    <title>左侧边栏</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="script/chat.css" />
</head>
<body>

<div class="melody-d-side" th:fragment="screen_content">

    <ul class="melody-d-menu" th:with="notSelected='md-menu-item',isSelected='md-menu-item cur'">
        <span><a href="javascript:;">Melody特性</a></span>

        <li th:class="${selected eq 'config'}?${isSelected}:${notSelected}">
            <a class="menu-item-a" th:href="${#url.get('appServer','new_features/introduce.htm')}"
               href="introduce/springboot/main.htm"><span>springboot</span></a></li>
        <li th:class="${selected eq 'config'}?${isSelected}:${notSelected}"><a
                class="menu-item-a" th:href="${#url.get('appServer','webpages/introduce.htm')}" href="introduce/thymeleaf/main.htm">
            <span>thymeleaf</span></a></li>
        <li th:class="${selected eq 'config'}?${isSelected}:${notSelected}"><a
                class="menu-item-a" th:href="${#url.get('appServer','webpages/contain.htm')}" href="introduce/contain/main.htm">
            <span>contain</span></a></li>
        <li th:class="${selected eq 'config'}?${isSelected}:${notSelected}"><a
                class="menu-item-a" th:href="${#url.get('appServer','nosession/introduce.htm')}" href="introduce/nosession/main.htm">
            <span>nosession</span></a></li>
        <li th:class="${selected eq 'config'}?${isSelected}:${notSelected}"><a
                class="menu-item-a" th:href="${#url.get('appServer','others/introduce.htm')}" href="introduce/i18n/main.htm">
            <span>国际化</span></a></li>
        <li th:class="${selected eq 'config'}?${isSelected}:${notSelected}"><a
                class="menu-item-a" th:href="${#url.get('appServer','others/introduce.htm')}" href="introduce/monitor/main.htm">
            <span>性能监控</span></a></li>

    </ul>
    <ul class="melody-d-menu" th:with="notSelected='md-menu-item',isSelected='md-menu-item cur'">

        <span><a  href="javascript:;">示例介绍</a></span>
        <li><a class="menu-item-a" th:href="${#url.get('appServer','webpages/thymeleaf.htm')}" href="example/thymeleaf/main.htm"><span>Thymeleaf示例</span></a></li>
        <li><a class="menu-item-a" th:href="${#url.get('appServer','webpages/demo/contained_page.htm')}" href="example/contain/main.htm">
            <span>contain示例</span></a></li>
        <li><a class="menu-item-a" th:href="${#url.get('appServer','webpages/demo/local_reload.htm')}" href="example/reload/main.htm">

            <span>reload示例</span></a></li>
        <li><a class="menu-item-a" th:href="${#url.get('appServer','webpages/demo/local_lazy.htm')}" href="example/lazyload/main.htm">
            <span>lazyLoad示例</span></a></li>
        <li><a class="menu-item-a" th:href="${#url.get('appServer','interceptor/introduce.htm')}" href="example/interceptor/main.htm">
            <span>拦截器示例</span></a></li>
        <li><a class="menu-item-a" th:href="${#url.get('appServer','i18n/hasen.htm')}" href="example/i18n/main.htm">
            <span>国际化示例</span></a></li>
        <li><a class="menu-item-a" th:href="${#url.get('appServer','login/login.htm')}" href="example/nosession/main.htm">
            <span>登录和session示例</span></a></li>

    </ul>
    <ul class="melody-d-menu" th:with="notSelected='md-menu-item',isSelected='md-menu-item cur'">
        <li><a class="menu-item-a" th:href="${#url.get('appServer','utils/introduce.htm')}" href="new_features/main.htm">
            <span>工具类</span></a></li>
        <li><a class="menu-item-a" th:href="${#url.get('appServer','config/introduce.htm')}" href="new_features/main.htm">
            <span>配置文件说明</span></a></li>
    </ul>
</div>
</body></html>