<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" es:layout>
<head>
    <title>MelodyDemo</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="script/chat.css"/>
</head>
<body>
<div th:fragment="screen_content">
    <form name="upload" method="post" th:action="${#url.get('appServer','/upload/simple.htm')}"
          enctype="multipart/form-data">
        <br/>
        <p>请选择文件：<input type="file" name="upfile"/></p>
        <p><input type="submit" value="上传"/></p>
    </form>
    <br/>
    <p th:if="${not #strings.isEmpty(originalFilename)}">上传文件名 [[${originalFilename}]],大小:[[${length}]]字节</p>
</div>
</body>
</html>