/*icon*/
.melody-ico{background:url(../images/icons.png) no-repeat;box-shadow:0 2px 4px rgba(0,0,0,0.4);display:inline-block;width:90px;height:90px;}
.melody-ico:hover{background:url(../images/icons-hover.png) no-repeat;box-shadow:0 2px 4px rgba(0,0,0,0.4);display:inline-block;width:90px;height:90px;}
.ico-m1{background-position:14px 22px;}
.ico-m2{background-position:-57px 22px;}
.ico-m3{background-position:-128px 22px;}
.ico-m4{background-position:-198px 22px;}
.ico-m5{background-position:-270px 22px;}
.ico-m6{background-position:-340px 22px;}
.ico-m7{background-position:-413px 22px;}
.ico-m8{background-position:-483px 22px;}

.ico-m1:hover{background-position:14px 22px;}
.ico-m2:hover{background-position:-57px 22px;}
.ico-m3:hover{background-position:-128px 22px;}
.ico-m4:hover{background-position:-198px 22px;}
.ico-m5:hover{background-position:-270px 22px;}
.ico-m6:hover{background-position:-340px 22px;}
.ico-m7:hover{background-position:-413px 22px;}
.ico-m8:hover{background-position:-483px 22px;}

/*melody_demo*/
.melody{}
.melody-head{background-color:#fff;box-shadow:0 3px 10px #e1e1e1;height:70px;line-height:70px;text-align:center;position:absolute;top:0;left:0;right:0;z-index:100;}
.melody-head span{color:#7060da;font-size:0.8em;letter-spacing:1px;}
.logo {
    background: url(../images/f-logo.png) no-repeat;
    display: inline-block;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    position: absolute;
    left: 10px;
    top: 10px;
    height: 60px;
    width: 250px;
}
.logo:hover{color:#dac960;}
.login{font-size:0.7em;display:inline-block;transition:all .5s;-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;position:absolute;right:5%;}
.login:hover{color:#7060da;}
.register{font-size:0.7em;display:inline-block;transition:all .5s;-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;position:absolute;right:2%;}
.register:hover{color:#7060da;}

.melody-wrap{box-sizing:border-box;height:100%;width:100%;padding:0% 15% 2%;}
.melody-list{margin:20px 0;}
.melody-li2{padding:0 10%;}
.melody-list li{float:left;width:15%;margin:0 5%;text-align:center;}
.melody-li1 li{width:10%;}
/*.melody-list:last-child{margin:0 10%;}*/
/*.melody-list:last-child li{width:18.8%;margin:0 7.2%;}*/
.melody-list li .melody-ico{background-color:#fff;border-radius:100%;}
.melody-list li span{color:#3b3b3b;font-size:0.62em;display:block;line-height:1.8;margin-top:10px;}
.melody-detail-wrap{
    background: url(../images/bg.png) no-repeat;
    background-size: 150% 130%;
    background-origin: border-box;
    background-position-x: 40%;
    background-position-y: 30%;
}
/*melody_demo_detail*/
.melody-detail{position:relative;}
.index-logo{
    margin: 80px auto 0px auto;
    /* margin-top: 80px; */
    background: url(../images/index-logo.png) no-repeat;
    background-size: 100% auto;
    width: 300px;
    height: 200px;
}
.melody-d-side{background-color:#f8f8f8;width:300px;position:absolute;left:0;top:70px;bottom:0;}
.melody-d-menu{padding-top:20px;}
.melody-d-menu>span{margin-left:20px;
    font-size: 20px;}
.md-menu-item{margin:5px 0;}
.md-menu-item ul{margin-left:30px}
.menu-item-a{font-size:0.7em;display:block;height:40px;line-height:40px;padding:0 40px;position:relative;transition:all .5s;-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;}
.menu-item-a:hover{color:#7060da;}
.menu-item-a .icon-light{color:#fff;display:none;position:absolute;right:20px;top:12px;}
.md-menu-item.cur .menu-item-a{background:-webkit-linear-gradient(left, #4f40b0 , #7464df);background:-o-linear-gradient(right, #4f40b0 , #7464df);background:-moz-linear-gradient(right, #4f40b0 , #7464df);background:linear-gradient(to right, #4f40b0 , #7464df);color:#fff;}
.md-menu-item.cur .menu-item-a .icon-light{display:inline-block;}
.melody-d-con{min-height:500px;margin-left:360px;padding:70px 50px 90px 0;}
.melody-d-title{font-size:1.1em;line-height:100px;}
.melody-d-con h3{font-size:0.72em;font-weight:600;padding:10px 0 15px;}
.melody-d-con summary h3{display:inline-block;padding:0;}
.melody-d-con p,.melody-d-con li{font-size:0.66em;line-height:1.8;margin:15px 0;}
.melody-code-wrap{background:#f8f8f8;border-left:4px solid #6f61c9;font-size:0.62em;font-family:Arial;line-height:1.8;padding:10px 40px;margin:5px 0 25px;}
.melody-code-wrap pre code{display:block;font-family:Arial;line-height:1.8;}
.m-xmp{font-family:fzfsjw,FangSong;font-size:0.66em;line-height:1.8;}
.melody-d-con ul{padding-left:20px;}
.melody-d-con li{list-style:disc;}
.melody-d-con p img{max-width:90%;margin:20px;}
.melody-d-con li span{display:block;margin:15px 0;}
.melody-d-con li .m-xmp{font-size:1.03em;}
.m-table{border:1px solid #e6e9f3;box-sizing:border-box;width:100%;text-align:center;margin-bottom:30px;}
.m-table th{background-color:#e6e9f3;font-size:0.7em;font-weight:600;height:50px;line-height:50px;padding:0 10px;}
.m-table td{border:1px solid #e6e9f3;font-size:0.7em;height:40px;line-height:40px;padding:0 10px;}

.m-detail-link{color:#39f;display:block;margin:10px 10px 10px 0;}
.m-detail-link:hover{text-decoration:underline;}
.m-detail-link1{color:#39f;margin:0 5px;}
.m-detail-link1:hover{text-decoration:underline;}

.foot,.footer{color:#fff;font-size:0.56em;text-align:center;position:absolute;bottom:0;width:100%;padding:15px 0;line-height:2;}
.footer{color:#000;}

.fixed-div {position: fixed; right: 1%; bottom: 10%; width: 40px; height: 40px; border: 1px solid #eee;background-color: white;font-size: 24px;z-index: 9999;}
.fixed-div a{border-bottom: 1px solid #eee;text-align: center;color: #64854c; display: inline-block;}
.fixed-div a i{vertical-align: middle;}
.go-to-top{display: inline-block;    font: normal normal normal 14px/1 FontAwesome;    font-size: inherit;    text-rendering: auto;    -webkit-font-smoothing: antialiased;     content: "\f106";}




