<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" es:layout>
<head>
    <title>加解密</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="script/chat.css"/>
</head>
<body>
<div th:fragment="screen_content"><h2>加解密演示页面</h2>
    <form th:action="${#url.get('appServer','/crypto/encrypt.htm')}" method="get">
        <p>请输入要加密的内容：<input type="text" name="text" th:value="${text}"/></p>
        <p><input type="submit" value="加密"/></p>
        <p>AES加密结果：[[${aesEncrypt}]]</p>
        <p>RSA加密结果：[[${rsaEncrypt}]]</p>
        <p>BlowFish加密结果：[[${blowfishEncrypt}]]</p>

    </form>
    <br/><br/>
    <form th:action="${#url.get('appServer','/crypto/decrypt.htm')}" method="get">
        <p>请输入要解密的内容：</p>
        <p>AES:<input type="text" name="aesStr" th:value="${aesStr}"/></p>
        <p>RSA:<input type="text" name="rsaStr" th:value="${rsaStr}"/></p>
        <p>BlowFish:<input type="text" name="blowfishStr" th:value="${blowfishStr}"/></p>
        <p><input type="submit" value="解密"/></p>
        <p>AES解密结果：[[${aesDecrypt}]]</p>
        <p>RSA解密结果：[[${rsaDecrypt}]]</p>
        <p>BlowFish解密结果：[[${blowfishDecrypt}]]</p>
    </form>
</div>
</body>
</html>