<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" es:layout>
<head>
    <title>加解密</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="script/chat.css"/>
</head>
<body>
<div th:fragment="screen_content">
    <p>Melody提供了加解密的方法，其中包括ASE、RSA、BlowFish三种加密方法</p>

    <p>在使用时可以直接注入到Crypto接口的对象中去，如下所示：</p>
    <div class="melody-code-wrap">
<pre><code>@Autowired
@Qualifier(&quot;aesCrypto&quot;)
Crypto aesCrypto;

@Autowired
@Qualifier(&quot;rsaCrypto&quot;)
Crypto rsaCrypto;

@Autowired
@Qualifier(&quot;blowfishCrypto&quot;)
Crypto blowfishCrypto;
</code></pre>
    </div>
    <p>Crypto接口提供了encrypt(加密)和decrypt(方法)，具体使用可查看com.eyeieye.melody.demo.controller.crypto.CryptoController</p>
    <p>示例：<a class="m-detail-link1" th:href="${#url.get('appServer','/crypto/demo.htm')}">示例</a></p>
</div>
</body>
</html>
