
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" es:layout>
<head>
    <title>MelodyDemo</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="script/chat.css" />
</head>
<body>
<div th:fragment="screen_content">
<h2 class="melody-d-title">页面制作说明和示例</h2>
<p>Melody建议使用者使用Thymeleaf模板语言，使用contain方法拼接页面。</p>
<br/>
<div close>
    <summary>
        <h3>Thymeleaf模板语言</h3>
    </summary>
        <p>教程较长,请点击下面部分进行查看</p>
    <p><a class="m-detail-link1" th:href="${#url.get('appServer','webpages/thymeleaf.htm')}" >Thymeleaf模板教程</a></p>


</div>
<br/>

<div class="menu" close>

    <h3>用contain拼接页面</h3>


        <div es:contain="lazy:${#url.get('appServer','webpages/contain.htm')}" ></div>

</div>

<br/>

<h3>setLayout</h3>
<div style="margin-left: 5%;">
    <p>在"目录结构说明和示例"中已经讲过，页面文件会自动寻找layout文件夹下对应的同名模板或default模板，但是当你需要自行制定模板文件时可以使用setLayout方法。</p>
    <div class="melody-code-wrap"><pre><code>
        &lt;html es:layout=&quot;path/to/layout&quot;&gt;...&lt;/html&gt;
    </code></pre></div>
    <p>上述代码是将页面的模板替换成blank.htm(无界面的空模版)，点击<a class="m-detail-link1" th:href="${#url.get('appServer','webpages\introduce_blank.htm')}">此链接</a>查看效果，点击<a class="m-detail-link1" th:href="${#url.get('appServer','webpages\introduce.htm')}">此链接</a>恢复正常模板</p>
</div>
<div es:contain="lazy:${#url.get('appServer','webpages/reload.htm')}" ></div>
<div es:contain="lazy:${#url.get('appServer','webpages/lazy.htm')}" ></div>
<details class="menu" close>
    <summary>
        <h3>示例</h3>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        <p>
            <a class="m-detail-link1" target="_blank" th:href="${#url.get('appServer','/webpages/demo/local_sync.htm')}">本地同步示例</a>
            <a class="m-detail-link1" target="_blank" th:href="${#url.get('appServer','/webpages/demo/remote_sync.htm')}">远程同步示例</a>
        </p>
        <p>
            <a class="m-detail-link1" target="_blank" th:href="${#url.get('appServer','/webpages/demo/local_reload.htm')}">本地reload示例</a>
            <a class="m-detail-link1" target="_blank" th:href="${#url.get('appServer','/webpages/demo/remote_reload.htm')}">远程reload示例</a>
        </p>
        <p>
            <a class="m-detail-link1" target="_blank" th:href="${#url.get('appServer','/webpages/demo/local_lazy.htm')}">本地lazyload示例</a>
            <a class="m-detail-link1" target="_blank" th:href="${#url.get('appServer','/webpages/demo/remote_lazy.htm')}">远程lazyload示例</a>
        </p>
    </div>
</details>
</div>
</body>
</html>