<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  es:layout >
<head>
    <title>测试</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="script/chat.css" />
</head>
<body id="dd">
<div name="index"  th:fragment="screen_content">
<p>Melody完全兼容spring，所以可以使用spring自身的方法配置加载拦截器。方法如下：</p>
<p>1、继承HandlerInterceptorAdapter类，重写preHandler和postHandler方法。</p>
<p>2、在spring的配置文件中添加该拦截器的bean，如：</p>
<div class="melody-code-wrap"><pre><code>
&lt;bean class=&quot;com.eyeieye.melody.demo.web.action.interceptor.NonAutomaticInterceptor&quot;&gt;&lt;/bean&gt;
</code></pre></div>
</div>
</body>
</html>